{% extends "base.html" %}

{% block nav_voice %}class="active"{% endblock %}

{% block title %}Voice | {% endblock %}

{% block content %}

<head>
    
</head>
<div>
    <p>What is your name?</p>
    <p>How old are you?</p>
    <p>What can you do?</p>
    <p>Tell me about you.</p>
    <p>How can we control you?</p>
</div>
            <div>
		      <p>Press the microphone icon </strong> and speak in English: <br> </p>
 		      <input type="text" name="q" id="transcript" placeholder="Speak" />
              <img onclick="startDictation();" src="http://i.imgur.com/cHidSVu.gif" />
            </div>	
            
            
            
   
        <!--<script src="/static/roslibjs/eventemitter2.min.js"></script>-->
       <!-- <script src="/static/roslibjs/roslib.min.js"></script>-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <script>

         /*var ros = new ROSLIB.Ros();
	        ros.connect('ws://{{ baseurl }}:9090');

             var SpeechText = new ROSLIB.Topic({
            ros : ros,
            name : '/SpeechText',
            messageType : 'String_msgs/text1'
          });
          
          function TextSpeech() {
            var text1 = new ROSLIB.Message({
                  
            });

            SpeechText.publish(text1); 
										   
          }*/

            function startDictation() {
    	    	if (window.hasOwnProperty('webkitSpeechRecognition')) {
      			var recognition = new webkitSpeechRecognition();
      			recognition.continuous = false;
      			recognition.interimResults = false;
      			//recognition.lang = "bg-BG";
      			recognition.lang = "en-EN";
      			recognition.start();
      			recognition.onresult = function(e) {
        			document.getElementById('transcript').value = e.results[0][0].transcript;
        			speechStringVar = document.getElementById('transcript').value;
        			recognition.stop();
        			checkSpeech(speechStringVar);
       			};			
       			recognition.onerror = function(e) {
         			recognition.stop();
       			};
    	    	}
  	      	}

          function checkSpeech(str) {
		    if(str.includes("what is your name")) {
                $.Talk ();
			}else if(str.includes("how old are you")) {
                $.Talk1();
  			}else if(str.includes("what can you do")) {
                $.Talk2 ();
      		}else if(str.includes("tell me about you")) {
                $.Talk3 ();
      		}else if(str.includes("how can we control you")) {
                $.Talk4 ();
      		}
  		};


         $(document).ready(function () {
            $.Talk = function (e) {
                  //debugger;
                  var u1 = new SpeechSynthesisUtterance('My name is Robko..');
                  u1.lang = 'en-US';
                  u1.pitch = 1;
                  u1.rate = 1;
                  //u1.voice = voices[10];
                  u1.voiceURI = 'native';
                  u1.volume = 1;
                  speechSynthesis.speak(u1);
  
              };
          });   
          $(document).ready(function () {
              $.Talk1 = function (e) {
                  //debugger;
                  var u1 = new SpeechSynthesisUtterance('I am 18..');
                  u1.lang = 'en-US';
                  u1.pitch = 1;
                  u1.rate = 1;
                  //u1.voice = voices[10];
                  u1.voiceURI = 'native';
                  u1.volume = 1;
                  speechSynthesis.speak(u1);
  
              };
          });
          $(document).ready(function () {
              $.Talk2 = function (e) {
                 // debugger;
                  var u1 = new SpeechSynthesisUtterance('I can bring bottle of water or I can reminds for your pills..');
                  u1.lang = 'en-US';
                  u1.pitch = 1;
                  u1.rate = 1;
                  //u1.voice = voices[10];
                  u1.voiceURI = 'native';
                  u1.volume = 1;
                  speechSynthesis.speak(u1);
  
              };
          });
          $(document).ready(function () {
              $.Talk3 = function (e) {
                 // debugger;
                  var u1 = new SpeechSynthesisUtterance('I am a service robot for personal assistance..');
                  u1.lang = 'en-US';
                  u1.pitch = 1;
                  u1.rate = 1;
                  //u1.voice = voices[10];
                  u1.voiceURI = 'native';
                  u1.volume = 1;
                  speechSynthesis.speak(u1);
  
              };
          });
          $(document).ready(function () {
              $.Talk4 = function (e) {
                 // debugger;
                  var u1 = new SpeechSynthesisUtterance('You can control me by joystick, buttons, voice and gestures..');
                  u1.lang = 'en-US';
                  u1.pitch = 1;
                  u1.rate = 1;
                  //u1.voice = voices[10];
                  u1.voiceURI = 'native';
                  u1.volume = 1;
                  speechSynthesis.speak(u1);
  
              };
          });        
        </script>
        <body>

</body>
<!--<script src="/static/webrtc/signaling_channel.js"></script>-->
<!--<script src="/static/webrtc/main.js"></script>-->
{% endblock %}