<?xml version="1.0"?>
<robot name="imu_mount_on_robco" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Macro to mount imu arm on Robco robot at the specified position -->
<!-- Created by Stefan -->
<!-- Service Robotics Group - Bulgaria - Version 1.0 from Oct. 11th, 2018. -->

<xacro:include filename="$(find robot_description)/urdf/sensors/imu_macro.xacro" />

<xacro:macro name="robco_imu">
<xacro:imu parent="third_deck" x_loc="${0}" y_loc="${0}" z_loc="${0}"/>
</xacro:macro>
 
 
</robot>